:root {
  --color-navigation: #4d5ae5;
  --first-title-color: #2e2f42;
  --background-color: #ffffff;
  --color-link: #434455;
}

body {
  font-family: "Roboto", "sans-serif";
  font-weight: 600;
  line-height: calc(24 / 16);
  font-size: 16px;
  background-color: var(--background-color);
}

header {
  background: var(--background-color);
  border-bottom: 1px solid #e7e9fc;
  /* height: 72px; */
  padding: 24px 0px 24px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding-left: 0;
}

.container {
  width: 1158px;
  outline: 1px solid red;
  margin: 0 auto;
  padding: 0 15x 0 15px;
}

.link_function:hover,
.link_function:focus {
  color: var(--color-navigation);
}
.button_function:hover,
.button_function:focus {
  background-color: #404bbf;
  color: var(--background-color);
}

.link {
  text-decoration-line: none;
  color: var(--color-link);
}
.list {
  list-style: none;
}
.display_flex {
  display: flex;
}
.margi_r_40 {
  margin-right: 40px;
}
.margi_r_24 {
  margin-right: 24px;
}
.selected {
  color: var(--color-navigation);
  text-decoration: none;
  pointer-events: none;
}

.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 75px;
}
.logo_span {
  color: var(--color-navigation);
}
.logo_footer {
  color: #f4f4fd;
}

.hat_header_pages {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  order: 0;
  flex-grow: 0;

  margin-right: 332px;
}
.hat_header_contacts {
  letter-spacing: 0.02em;
  color: var(--color-link);
  margin-left: auto;
  font-weight: 400;
}

.order_section {
  background: var(--first-title-color);
  padding-top: 188px;
  padding-bottom: 188px;
  /* display: flex; */
  /* align-content: center; */
  /* padding-left: 473px; */
  /* padding-right: 473px; */
}
.text_order {
  font-size: 56px;
  line-height: calc(60 / 56);
  letter-spacing: 0.02em;
  color: var(--background-color);
  margin-bottom: 48px;
}
.order_button {
  background: var(--color-navigation);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding: 16px 32px;

  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  line-height: calc(19 / 16);

  letter-spacing: 0.04em;
  color: var(--background-color);
}

.categoris_position {
  padding: 120px 0px 120px 0px;
}
.header_categotis {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  /* padding: 120px 0px 120px 0px; */
}
.body_categotis {
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--color-link);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.header_of_section {
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--first-title-color);
  margin-bottom: 72px;
}

.our_work {
  display: flex;
  margin-bottom: 120px;
}

.our_team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.employees {
  display: flex;
}
.box_team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 24px;
  background: var(--background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.name {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.profession {
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-link);
  flex: none;
  order: 1;
  flex-grow: 0;
}

footer {
  background: var(--first-title-color);
  line-height: calc(24 / 16);
  font-size: 16px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer_text {
  letter-spacing: 0.02em;
  color: #e7e9fc;
  margin-top: 16px;
  width: 264px;
}

.buttons_links_options {
}

.portfolio_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 72px;
}

.button_portfolio {
  /*BUTTON*/
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 24px;
  background: #f4f4fd;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 0;

  /*TEXT*/
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(24 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-navigation);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.portfolio_list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio_link {
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
}
